<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>

$( function() {
  $( "#reservation_day" ).datepicker({
    dateFormat: 'yy-mm-dd'
  });
} )
</script>



<%= form_for [@restaurant, @reservation] do |f| %>

  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@reservation.errors.count, "error") %> prohibited
        this reservation from being saved:
      </h2>
      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :day %>
  <%= f.text_field :day %>

  <%= f.label :time %>
  <%= f.text_field :time %>

  <%= f.label :partysize %>
  <%= f.text_field :partysize %>

  <%= f.submit "Reserve" %>

<% end %>
